{% extends "base.html" %}

{% block content %}
    <div class="jumbotron offed">
        <h1 class="display-4">InfoLesson</h1>
        <p class="lead">Простая и понятная система проведения уроков информатики</p>
        <hr class="my-4">
        <p>Спроектирована для успешного обучения школьников</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Узнать больше &raquo;</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Готовые уроки</h5>
                    <p class="card-text">
                        Теперь готовиться к уроку стало легче: просто выберите один из готовых уроков!
                    </p>
                    <a href="#" class="btn btn-primary">Создать урок</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Гибкая настройка</h5>
                    <p class="card-text">
                        Вы можете загрузить свои собственные задачи и настроить их сложность!
                    </p>
                    <a href="#" class="btn btn-primary">Загрузить задание</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Простота</h5>
                    <p class="card-text">
                        Вам больше не надо проверять домашнее задание: система это сделает за вас!
                    </p>
                    <a href="#" class="btn btn-primary">Задать Д/З</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Оценивание</h5>
                    <p class="card-text">
                        Система подскажет, какие оценки надо выставить и исправить в журнале!
                    </p>
                    <a href="#" class="btn btn-primary">Выставить оценки</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Борьба со списыванием</h5>
                    <p class="card-text">
                        На уроках система сама будет будет ловить учеников за списыванием!
                    </p>
                    <a href="#" class="btn btn-primary">Включить антиплагиат</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Контрольная - легко</h5>
                    <p class="card-text">
                        Каждому ученику на конрольной автоматически сгенерируется свой вариант!
                    </p>
                    <a href="#" class="btn btn-primary">Провести контрольную</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
