{% extends "base.html" %}

{% block content %}
    <div class="row filled">
        <div class="col-md-8 offset-md-2">
            <br>
            <br>
            <br>
            <h3>Классы школы {{ school.name }}</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Название</th>
                  <th scope="col">Количество учеников</th>
                  <th scope="col">Действия</th>
                </tr>
              </thead>
              <tbody>
                {% for class in school.classes %}
                    <tr>
                      <th scope="row">{{ class.id }}</th>
                      <td>{{ class.name }}</td>
                      <td>{{ class.students|length }}</td>
                      <td>
                          <a href="#" class="btn btn-warning">Перейти</a>
                          {% if current_user.has_role("headteacher") or current_user.has_role("admin") %}
                            <a href="#" class="btn btn-danger">Удалить класс</a>
                          {% endif %}
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}
